* {
  margin: 0;
  padding: 0;
}

body {
  height: 92vh;
  width: 100vw;
}

.navbar-container {
  background-color: rgb(170, 234, 212);
  height: 8vh;
  width: 100vw;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-around;
}

.link-item {
  color: black;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

.link-item:visited {
  color: black;
}

.logo {
  height: 8vh;
  width: 10vw;
}

#logo-img {
  position: relative;
  height: 8.3vh;
  border-radius: 30px;
}

.right-navbar {
  height: 8vh;
  width: 40vw;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-evenly;
}

.CreateForm {
  border: 2px black solid;
  height: 65vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  position: relative;
  left: 50%;
  top: 3vh;
  transform: translateX(-50%);
}