* {
  margin: 0;
  padding: 0;
}

body {
  height: 92vh;
  width: 100vw;
}

.navbar-container {
  background-color: rgb(170, 234, 212);
  height: 8vh;
  width: 100vw;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-around;
}

.link-item {
  color: black;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

.link-item:visited {
  color: black;
}

.logo {
  height: 8vh;
  width: 10vw;
}

#logo-img {
  position: relative;
  height: 8.3vh;
}

.right-navbar {
  height: 8vh;
  width: 40vw;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-evenly;
}

.CreateForm {
  border: 2px black solid;
  border-radius: 20px;
  height: 80vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  position: relative;
  left: 50%;
  top: 3vh;
  transform: translateX(-50%);
}

#title-input-div, #content-input-div {
  height: fit-content;
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  cursor: text;
}

#title-input {
  height: 100%;
  width: 30vw;
}

#content-input {
  height: 100%;
  width: 30vw;
  resize: none;
  height: 20vh;
  overflow-y: scroll;
}

.upload-image-div {
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  height: fit-content;
  width: 70%;
}

#upload-img-btn, #create-post-btn {
  cursor: pointer;
  background-color: rgba(247, 140, 10, 0.306);
  height: 6vh;
  width: 10vw;
  border: 2px solid black;
  border-radius: 5px;
}

.feed-container {
  height: 92vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.orderby-div {
  height: 5vh;
  width: 25vw;
  place-self: start;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 8vw;
}

.feed-card-container {
  height: fit-content;
  width: 100vw;;
  padding: 3vh 0vw;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.Card {
  background-color: rgba(247, 140, 10, 0.306);
  height: fit-content;
  min-height: 20vh;
  width: 80vw;
  margin: 2vh;
  padding: 2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.title-in-card {
  font-size: x-large;
}

.card-btn-div {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3vh;
}

#newest-btn, #popularity-btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

#newest-btn:hover, #popularity-btn:hover {
  background-color:rgba(205, 212, 210, 0.747);
}

#newest-btn:active, #popularity-btn:active {
  filter: brightness(90%);
}

#upvotes-btn {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-evenly;
  width: 3vw;
  height: 3vh;
  background-color: none;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

#upvotes-btn:hover, #upload-img-btn:hover, #create-post-btn:hover {
  background-color:rgb(170, 234, 212);
  transform: scale(103%);
}

#upvotes-btn:active, #upload-img-btn:active, #create-post-btn:active {
  filter: brightness(90%);
}

#thumbs-up-pic {
  height: 2vh;
}

#arrow-right-pic {
  height: 15px;
}

#open-post-btn, #open-post-btn:visited {
  text-decoration: none;
  color: black;
  height: fit-content;
  width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  place-items: center;
}

#open-post-btn:hover {
  transform: scale(103%);
}